- if current_user
  - if favorite = current_user.favorite_for(favoriteable)
    = link_to [favoriteable, favorite], method: :delete, remote: true, class: "#{button_if_injury(favoriteable)}-default padded-right-border" do
      %i.glyphicon.glyphicon-heart-empty
      Unfollow
  - else
    = link_to [favoriteable, current_user.favorites.new], method: :post, remote: true, class: "#{button_if_injury(favoriteable)}-primary padded-right-border" do
      %i.glyphicon.glyphicon-heart
      Follow
- else
  = link_to [favoriteable, Favorite.new], method: :post, remote: true, class: "#{button_if_injury(favoriteable)}-primary padded-right-border" do
    %i.glyphicon.glyphicon-heart
    Follow
