.container
  .row
    .col-md-9
      %h3
        = injury.name + ": " + topic.name + " Discussion"
        %br/
        %small= topic_description(topic.name)
      .container.post-form
        .col-md-8
          .new-post{id: "topic-#{topic.id}-new-post"}
            = render partial: 'posts/form', locals: {topic: topic, post: topic.posts.new}
        .col-md-4
          %h3 Posting Guidelines
          %ul
            %li Keep posts as simple as possible
            %li There is no need to preface any posts with your credentials or background information about you
            %li Citing your sources is always a good call
      .js-posts.container
        .row{class: "topic-#{topic.id}-pagination"}
          = render partial: 'posts/post', collection: @posts = topic.posts.where.not(id: nil).paginate(:page => params[:page], :per_page => 10)

          = js_will_paginate @posts, class: "col-md-8", :params => {topic_id: topic.id}
