.panel.panel-info
  .panel-heading
    %b= link_to "#{injury.name}", body_part_injury_path(@body_part, injury)
    -if user_can_edit?(injury)
      = link_to "Edit", edit_body_part_injury_path(@body_part, injury), class: 'pull-right', data: {"no-turbolink" => true}
  .panel-body
    %b Description:
    %br/
    = truncate(injury.description, length: 150)
    = "..."
    %br/
    %b Symptoms:
    %br/
    = injury.symptoms.pluck(:name).join(", ")
