.container
  .row
    .col-md-8
      .jumbotron
        %h2
          = @injury.name
          .pull-right.js-favorite-injury
            = render partial: 'favorites/favorite', locals: {favoriteable: @injury}
        %small
          %p
            %b Body part:
            = link_to "#{@body_part.name}", body_part_path(@body_part)
          %p
            %b Symptoms:
            %br/
            = @injury.symptoms.pluck(:name).join(", ")
          %p#injury_description
            %b Description:
            %br/
            = @injury.description
          - if !@injury.images.empty?
            %p
              %b Images:
              %br/

              - @injury.images.each.with_index do |image, i|
                = link_to "image ##{i + 1}", attachment_url(image, :file)
                %br/
          -if user_can_edit?(@injury)
            %p.pull-right= link_to "Edit", edit_body_part_injury_path(@body_part, @injury), data: {"no-turbolink" => true}
    .col-md-4
      %h3 Top Related Activities
      %ol.js-activities
        - @top_activities.each do |name, count|
          %li
            = link_to name, activity_path(Activity.where(name: name).first)
            = ": " + count.to_s
      %p What activity or sport were you participating in when you incurred this injury?
      .new-activity
        = render partial: 'activities/form', locals: {injury: @injury, activity: @injury.activities.new}
      %br/
      - if @post
        #js_description_voter
          What did you think of this description? &nbsp;
          = render partial: 'votes/voter', locals: {post: @post}

.containter
  .row
    .col-md-1
    .col-md-8
      %ul.nav.nav-tabs
        -@injury.topics.each do |topic|
          %li{:role => "presentation"}
            = link_to "#{topic.name}", "##{id_friendly(topic.name)}", "aria-controls" => "#{topic.name}", "data-toggle" => "tab", role: "tab"
      .tab-content
        -@injury.topics.each do |topic|
          .tab-pane{:id => "#{id_friendly(topic.name)}", :role => "tabpanel"}
            = render partial: 'topics/display', locals: {injury: @injury, topic: topic}
