.container
  .row
    .col-md-8
      .jumbotron
        %h1= @injury.name
        %p
          %b Body part:
          = link_to "#{@body_part.name}", body_part_path(@body_part)
        %p
          %b Symptoms:
          %br/
          = @injury.symptoms.pluck(:name).join(", ")
        %p
          %b Description:
          %br/
          = @injury.description
        -if user_can_edit?(@injury)
          %p.pull-right= link_to "Edit", edit_body_part_injury_path(@body_part, @injury)
    .col-md-4
      %h4 Top Related Activities
.containter-fuid
  .row
  -# TODO make a nav with tabs for each topic
