= div_for(post, class: "col-md-8 panel panel-default") do
  .panel-heading
    %h4.panel-title.post-header
      = post.title
      %small.pull-right
        - if post.user == current_user
          %a{href: '/profile'}
            %span.glyphicon.glyphicon-user{"aria-hidden" => true}
            = post.user.username
        - else
          %i.glyphicon.glyphicon-user{"aria-hidden" => true}
          = post.user.username

  .panel-body
    %p.post-body= post.body
  .panel-footer
    = div_for(post, class: 'js-favorite-post') do
      = render partial: 'favorites/favorite', locals: {favoriteable: post}

    = div_for(post, class: 'js-votes') do
      = render partial: 'votes/voter', locals: {post: post}
    .pull-right.post-delete= link_to "Delete", topic_post_path(post.topic, post), method: :delete, remote: true
