.navbar-header
  .navbar-brand= link_to "Injury Forum", root_path
%ul.nav.navbar-nav.navbar-left
  %li= link_to "About", about_path, class:'root-link-nav'
  %li= link_to "Disclaimer", disclaimer_path, class:'root-link-nav'
.navbar-right
  = form_tag search_path, method: :get, class: 'navbar-form navbar-left' do
    .form-group
      = text_field_tag :query, nil, class: 'form-control', placeholder: 'Search'

      = submit_tag "Search", class: 'btn btn-default'

  - unless user_signed_in?
    = link_to "Login", new_user_session_path, class: "btn btn-default navbar-btn"
    = link_to "Register", new_user_registration_path, class: "btn btn-primary navbar-btn"
  -else
    %h4.navbar-text= link_to "#{current_user.username}", profile_path
    = link_to "Logout", destroy_user_session_path, class: "btn btn-default navbar-btn", method: :delete
